.sublinks li a {
  color: black;
}

.sublinks li a:hover {
  color: orange;
}

.main-body {
  height: 70vh;
}

.height-10vh {
  max-height: 20vh;
  overflow-y: hidden;
}

.logo img {
  transform: scale(0.4);
}

.cta-buttons a:hover {
  color: red;
}

.grid-container {
  display: grid;
  place-items: center;
  min-height: 60vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "quickmart naivas"
    "tuskys carrefour";
  grid-gap: 1em;
}

.supermarket {
  display: grid;
  place-items: center;
}

.supermarket:hover {
  transition: transform ease-in-out 0.3s;
  background-color: rgba(0, 0, 0, 0.9);
  background-blend-mode: color;
  transform: scale(1.015);
}

.supermarket .image {
  display: none;
}

.supermarket:hover .image {
  display: grid;
  cursor: pointer;
  animation: fadeIn 0.5s ease-in;
  transition: animation ease-in 0.5s;
}

.supermarket img {
  transform: scale(0.6);
}

.quickmart {
  grid-area: quickmart;
  background-image: url("../images/quickmart-live-2.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: color;
}
.naivas {
  grid-area: naivas;
  background-image: url("../images/naivas-live-2.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: color;
}
.tuskys {
  grid-area: tuskys;
  background-image: url("../images/tuskys-live-2.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: color;
}
.carrefour {
  grid-area: carrefour;
  background-image: url("../images/carrefour-live-2.png");
  background-size: cover;
  background-position: top;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: color;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
