body {
  padding: 0;
  overflow-x: hidden;
}

.parent {
  position: relative;
}

.welcome-section-container {
  position: absolute;
  display: grid;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.78);
  top: 0;
  left: 0;
  background-image: url("../images/quickmart-live-1.jpg");
  background-attachment: fixed;
  background-blend-mode: color;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -0.5em;
  z-index: 1;
}

.welcome-section {
  display: grid;
  place-items: center;
  height: auto;
  width: 100%;
  color: white;
}

.welcome-section h2 {
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 4em;
}

.welcome-section span {
  color: red;
  animation: fadeInLeft 3s ease-in-out;
  transition: animation 3s;
}

.welcome-section .to {
  animation: fadeInRight 5s ease-in-out;
  transition: anmation 5s;
  color: white;
}

.welcome-section .welcome-logo {
  animation: fadeInBottom 4s ease-in-out;
  transition: animation 4s;
}

.account-details {
  position: relative;
  cursor: pointer;
  z-index: 2;
}

.show-dropdown {
  display: grid;
}
.account-details-dropdown {
  position: absolute;
  top: 6.5%;
  right: 10%;
  display: none;
  place-items: center;
  border-radius: 10px;
  z-index: 2;
}

.account-details-dropdown a {
  text-decoration: none;
  color: white;
}

.account-details-dropdown a:hover {
  text-decoration: underline;
  color: red;
}

.account-details:hover .account-details-dropdown {
  display: flex;
}

.z-index-2 {
  z-index: 2;
}

.sublinks li a {
  color: black;
}

.sublinks li a:hover {
  color: orange;
}

.header {
  max-height: 20vh;
  overflow-y: hidden;
}

.logo img {
  transform: scale(0.4);
}

.cta-buttons a:hover {
  color: red;
}

.sub-header h5 {
  position: relative;
}

.sub-header h5::after {
  position: absolute;
  content: "";
  bottom: -0.5em;
  left: -1.15em;
  height: 2px;
  width: 120%;
  background-color: orangered;
  animation: widthSlider 0.4s ease linear;
  transition: animation 0.4s;
}

.grid-container {
  display: grid;
  place-items: center;
  min-height: 60vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "quickmart naivas"
    "tuskys carrefour";
  grid-gap: 1em;
  z-index: 2;
}

.supermarket {
  display: grid;
  place-items: center;
  border-radius: 5px;
}

.supermarket:hover {
  transform: scale(1.015);
  transition: transform ease-in-out 0.3s;
  background-blend-mode: color;
  background-color: rgba(0, 0, 0, 0.9);
}

.supermarket .image {
  display: none;
}

.supermarket img {
  transform: scale(0.6);
}

.supermarket:hover .image {
  display: grid;
  cursor: pointer;
  animation: fadeIn 0.5s ease;
  transition: animation 0.5s;
}

.quickmart {
  grid-area: quickmart;
  background-image: url("../images/quickmart-live-3.png");
  background-size: cover;
  background-position: top;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: color;
  animation: fadeInLeft 6s ease-in-out;
  transition: animation ease-in-out;
}
.naivas {
  grid-area: naivas;
  background-image: url("../images/naivas-live-1.webp");
  background-size: cover;
  background-position: top;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: color;
  animation: fadeInTop 5s ease-in;
  transition: animation ease-in;
}
.tuskys {
  grid-area: tuskys;
  background-image: url("../images/tuskys-live-2.jpg");
  background-size: cover;
  background-position: top;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: color;
  animation: fadeInBottom 5.5s ease-in;
  transition: animation ease-in;
}
.carrefour {
  grid-area: carrefour;
  background-image: url("../images/carrefour-live-2.png");
  background-size: cover;
  background-position: top;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: color;
  animation: fadeInRight 4s ease-in;
  transition: animation ease-in;
}

footer li a {
  transition: font-weight 0.1s ease-in-out;
  padding: 0.4em;
}

footer li a:hover {
  font-weight: 700;
  text-decoration: none;
}

footer img {
  width: 120px;
}

.company-summary {
  width: 33.3%;
}

.important-details {
  width: 33.3%;
}

.utilities {
  width: 33.3%;
}

.utilities li a,
.important-details li a {
  color: black;
}

.utilities ul {
  width: 80%;
}

.social-links ul {
  border-radius: 10px;
}

.social-links i:hover {
  transform: scale(1.1);
  box-shadow: 0px 3px 3px 3px rgba(141, 11, 11, 0.6);
}

.social-links .blue i:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 3px 3px rgba(0, 255, 255, 0.575);
}

footer li {
  font-style: italic;
  list-style: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes widthSlider {
  0% {
    background-color: transparent;
  }
  100% {
    width: 100%;
    background-color: red;
  }
}

@keyframes fadeInLeft {
  0% {
    transform: translateX(-800px) scale(0);
    opacity: 0;
  }

  100% {
    transform: translateX(0px) scale(1);
    opacity: 1;
  }
}

@keyframes fadeInRight {
  0% {
    transform: translateX(800px) scale(0);
    opacity: 0;
  }

  100% {
    transform: translateX(0px) scale(1);
    opacity: 1;
  }
}

@keyframes fadeInTop {
  0% {
    transform: translateY(-800px) scale(0);
    opacity: 0;
  }

  100% {
    transform: translateY(0px) scale(1);
    opacity: 1;
  }
}

@keyframes fadeInBottom {
  0% {
    transform: translateY(800px) scale(0);
    opacity: 0;
  }

  100% {
    transform: translateY(0px) scale(1);
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    dislay: flex;
  }

  100% {
    display: none;
  }
}
